name: Monorepo CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push API1
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/api1:latest backend/api1
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/api1:latest

    - name: Build & Push API2
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/api2:latest backend/api2
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/api2:latest

    - name: Build & Push App1
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/app1:latest frontend/app1
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/app1:latest

    - name: Build & Push App2
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/app2:latest frontend/app2
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/app2:latest

    - name: Build & Push App3
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/app3:latest frontend/app3
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/app3:latest

